<!DOCTYPE html>
<html lang="de">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <script src="../js/config.js"></script>
    <title>Dashboard Admin</title>
  </head>
<body>
    <div class="container">
        <header>
          <div class="logo-container">
            <a href="../index.html"
              ><img src="../assets/images/logo_small.png" alt="Logo" class="logo"
            /></a>
          </div> <span id="usernameDisplay" style="margin-right: 10px"></span>
          <a href="./views/login.html" class="login-button" id="loginButton" style="text-decoration: none">Einloggen</a>
         
        </header>
        <main>
<section class="all-user-challenges">
    <div class = "all-challenges-form-all-users"></div>
    <div class=""></div>

</section>










        </main>


    </div>
</body>

</div>

</html>